<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body onload="loader_page()">
    <%- include('../partials/loader'); %>

    <header><%- include('../partials/headerWithLogin'); %></header>

    <main id="animation-zoom-out" class="">
      <%- include('../partials/commercialText'); %>
      <% if (data.role === 'Admin' ) { %>
        <a href="/categories/add" type="button" class="btn btn-primary">Add</a>
      <% } %>

      <div class="row w-75 mx-auto">
        <% if (data.role === 'Admin' ) { %>
            <% categories.forEach(function(e, index) { %>
            <a href="/categories/<%=  e.id  %>">
              <div class="col-6 my-5">
                <div class="card bg-dark text-white">
                  <video autoplay poster="" class="video-parallax" loop muted>
                    <source src=" <%= e.urlVideo %> " />
                  </video>
                  <div class="card-img-overlay">
                    <h5 class="card-title"><%= e.name %></h5>
                    <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p> -->
                  </div>
                </div>
              </div>
            </a>
            <div class="w-100">
              <a href=""  type="button" class="btn btn-warning">Edit</a>
              <a href="/categories/delete/<%=  e.id  %>" type="button" class="btn btn-danger">Delete</a>
            </div>
            <% }); %>
        <% } else { %>
            <% categories.forEach(function(e, index) { %>
              <a href="/categories/<%=  e.id  %>">
                <div class="col-6 my-5">
                  <div class="card bg-dark text-white">
                    <video autoplay poster="" class="video-parallax" loop muted>
                      <source src=" <%= e.urlVideo %> " />
                    </video>
                    <div class="card-img-overlay">
                      <h5 class="card-title"><%= e.name %></h5>
                      <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p> -->
                    </div>
                  </div>
                </div>
              </a>
            <% }); %>
        <% } %>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <%- include('../partials/loginform'); %>
  </body>
  <script for="javascript" src="./js/homepage.js"></script>
  <script for="javascript" src="./js/global.js"></script>
</html>
