<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head'); %>
    </head>
    <body onload="loader_page()">

        <%- include('../partials/loader'); %>

        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <%- include('../partials/videoHomepage'); %>
            <%- include('../partials/commercialText'); %>

        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
        <%- include('../partials/loginform'); %>
  
        

    </body>
    <script for="javascript" src="./js/homepage.js"></script>
    <script for="javascript" src="./js/global.js"></script>
</html>