<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head'); %>
    </head>
    <body onload="loader_page()">

        <%- include('../partials/loader'); %>

        <header>
            <%- include('../partials/headerWithLogin'); %>
        </header>

        <main id="animation-zoom-out" class="pt-5 pl-5">
            <div class="row">
                <div class="col-3 pl-5">
                    <h1 class="text-white pb-3">Profile</h1>
                    <!-- <h3 class="text-master">All Classes Categories</h3> -->
            
                        <div class="pb-4">
                            <!-- <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                                <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                                <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
                                <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
                            </ul> -->
                            <ul class="nav justify-content-center profile">
                                <li class="nav-item w-100"><a class="nav-link active" data-toggle="tab" aria-current="page" href="#dashboard">Dashboard</a></li>
                                <li class="nav-item w-100"><a class="nav-link" data-toggle="tab" href="#courses">Courses</a></li>
                                <% if (user.User.role === 'Admin'){ %>
                                    <li class="nav-item w-100"><a class="nav-link" data-toggle="tab" href="#cms">CMS</a></li>  
                                <% } %>
                                <li class="nav-item w-100"><a class="nav-link" href="#">Logout</a></li>
                                <!-- <li class="nav-item w-100"><a class="nav-link" data-toggle="tab" href="#menu1">#menu2</a></li>
                                <li class="nav-item w-100"><a class="nav-link" data-toggle="tab" href="#menu3">#menu3</a></li> -->
                          
                              </ul>
                        </div>
  
                </div>
                <div class="col-9">
                    <div class="tab-content">
                        <div id="dashboard" class="tab-pane fade in active show">
                          <h3 class="text-master">Welcome User</h3>
                            <div class="card profile">
                                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                                <img id="avatar" src="https://i.imgflip.com/1jllo6.jpg" class="card-img-top" alt="Avatar">
                                <div class="card-body px-0 py-4">
                                    <h5 class="card-title text-master"><%= user.formatFullName%> <%= user.lastName %></h5>
                                    <p class="card-text text-white"><%= user.User.email %></p>
                                    <a href="" class="btn btn-warning">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div id="courses" class="tab-pane fade">
                            <div class="row">
                                <div class="col-6">
                                    <div class="card bg-dark text-white">
                                        <img src="https://www.masterclass.com/course-images/attachments/jm9JMppgKNVjeFLiYaWi7xf2?width=300&height=533&fit=cover&dpr=2" alt="">
                                        <div class="card-img-overlay">
                                            <div class="description">
                                                <h5 class="card-title text-center">Gordon Ramsey</h5>
                                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                                <p class="card-text">Last updated 3 mins ago</p>
                                                <button type="button" class="btn btn-success video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jZpyJg-R49E" data-target="#myModal">
                                                    Watch
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card bg-dark text-white">
                                        <img src="https://www.masterclass.com/course-images/attachments/jm9JMppgKNVjeFLiYaWi7xf2?width=300&height=533&fit=cover&dpr=2" alt="">
                                        <div class="card-img-overlay">
                                            <div class="description">
                                                <h5 class="card-title text-center">Gordon Ramsey</h5>
                                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                                <p class="card-text">Last updated 3 mins ago</p>
                                                <button type="button" class="btn btn-success video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jZpyJg-R49E" data-target="#myModal">
                                                    Watch
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="cms" class="tab-pane fade">
                            <h3 class="text-master">Courses</h3>
                            <a href="/course/add" class="btn btn-primary">Add Courses</a>

                    </div>
                </div>
            </div>

        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

            <%- include('../partials/modalVideo'); %>
  
        
    </body>
    <script for="javascript" src="./js/modalVideo.js"></script>
    <script for="javascript" src="./js/global.js"></script>
</html>